<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FinalProjectV1.0.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C66834D81CC6D19A008DC097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C66834EC1CC6D19B008DC097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C66834F71CC6D19B008DC097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
